@font-face {
	font-family: "DaddyTimeMonoCustomSubset";
	src: url("/CustomDaddyTimeMonoSubset.woff2") format("woff2");
	font-display: swap;
}

.font-daddy-time-custom-subset {
	font-family: "DaddyTimeMonoCustomSubset", monospace;
}
